[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "zsh/.zsh/zinit"]
	path = zsh/.zsh/zinit
	url = https://github.com/zdharma-continuum/zinit
	branch = main
