#window {
	background-color: rgba(0, 0, 0, 0);
}

#input {
	font-size: 32px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0);
}

#inner-box {
	background-color: rgba(0, 0, 0, 0);
	margin: 200px;
}

#outer-box {
	background-color: rgba(102, 178, 255, 0.75);
}

#scroll {
	background-color: rgba(0, 0, 0, 0);
}

#text {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0);
	font-size: 32px;
	font-weight: bold;
}
#text:selected {
	color: #FF9191;
	font-size: 32px;
	background-color: rgba(0, 0, 0, 0);
}

#entry {
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}
#entry:selected {
	border: 5px;
	background-color: rgba(0, 0, 0, 0);
}

#img {
	background-color: rgba(0, 0, 0, 0);
	margin: 10px;
}
